.header {
  background-image: url(../assets/background.jpeg);
  background-size: cover;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.buttons-header {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 1rem 1rem;
}

.button-header {
  border-radius: 50%;
  border: 2px solid white;
  opacity: 40;
  width: 4rem;
  height: 4rem;
}

.button-header img {
  width: 40px;
  display: flex;
  justify-content: center;
  margin: 3px;
}

select {
  width: 250px;
  height: 60px;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 15px;
}
